// header styles
/*
.menu-header {
	._anim-menu-item {
		transform: translateX(50px);
		opacity: 0;
		&._animated-item {
			animation: anim-items 0.8s cubic-bezier(0.15, 0.97, 0.24, 1.01) calc(var(--i) * 0.2s) forwards;
		}
	}
}
- - - - - - 
&__icon {
	@media (min-width: ($lg)) {
		display: none;
	}
	cursor: pointer;
	position: relative;
	z-index: 5;
	display: flex;
	flex: 0 0 30px;
	height: 18px;
	margin-left: 20px;
	span,
	&::before,
	&::after {
		pointer-events: none;
		content: "";
		transition: all 0.3s ease 0s;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #ffffff;
	}
	&::before {
		top: 0;
	}
	&::after {
		bottom: 0;
	}
	span {
		top: calc(50% - 1px);
		opacity: 1;
	}
	&._active-menu-icon {
		span {
			opacity: 0;
		}
		&::before,
		&::after {
		}
		&::before {
			top: calc(50% - 1px);
			transform: rotate(-45deg);
		}
		&::after {
			bottom: calc(50% - 1px);
			transform: rotate(45deg);
		}
	}
}
*/