$container-layout-width: 1200; // Ширина контейнера по макету
$container-padding: 15; // Отступы у контейнера (по 15px слева и справа, 0 = нет отступа)

// Ширина контейнера + padding (0 = нет ограничения)
$container-max-width: calc($container-layout-width + ($container-padding * 2));
$section-gap: 130px;
$section-gap-hf: calc($section-gap / 2);
$section-gap-min: 30px; // at 320px

// header-height
$xl-header: 90px;
$lg-header: 70px;
$md-header: 50px;
$sm-header: 45px;

//break-points
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;

/* Brand colors */
$primary-color-lightest: #000;
$primary-color-light: #000;
$primary-color: #000;
$primary-color-dark: #000;
$primary-color-darker: #000;

$secondary-color-lightest: #000;
$secondary-color-light: #000;
$secondary-color: #000;
$secondary-color-dark: #000;
$secondary-color-darker: #000;

$tertiary-color-lightest: #000;
$tertiary-color-light: #000;
$tertiary-color: #000;
$tertiary-color-dark: #000;
$tertiary-color-darker: #000;

/* Additional colors */
$color-active: #000;
$color-button-hover: #000;
$color-link-hover: #000;
$color-link-active: #000;
$color-muted: #000;
$color-success: #000;
$color-danger: #000;
$color-warning: #000;
$color-info: #000;
$color-light: #000;

$white: #fff;
$black: #000;

$gray-100: #fff;
$gray-200: #f7f9fd;
$gray-300: #ededed;
$gray-400: #c4c4c4;

/* === Container max-widths === */
// $xl-container: 960;
// $lg-container: 720;
// $md-container: 540;
// $sm-container: 100%;
